html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: "opensans-regular", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font: inherit;
}
